/* about.css */

/* 전체 페이지 스타일 */
body {
    background-color: red; 
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 제목 스타일 */
h1 {
    font-size: 2em; 
    text-align: center;
    margin: 0; 
}

/* 본문 텍스트 스타일 */
p {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/* 카운터 텍스트 스타일 */
.counter {
    font-size: 1.5em; 
    margin-top: 20px;
}

/* 버튼 컨테이너 */
.button-container {
    margin-top: 20px;
    text-align: center;
}

/* 복사 성공 메시지 스타일 */
.copy-message {
    font-size: 1.2em;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

/* 카피 버튼 왼쪽 여백 */
#copyButton {
    margin-left: 10px; 
}

/* 작은 텍스트 스타일 */
.small-text {
    font-size: 0.7em; 
    text-align: center;
    color: black;
    margin-top: 10px;
}
